p {
  margin-top: 0 !important;
  margin-bottom: 1.3333333 em !important;
}

h2 {
  font-size: 1.6666667em !important;
  margin-top: 0 !important;
  margin-bottom: 1.0666667 em !important;
  line-height: 1.3333333 !important;
}
