vendors/**
Debug/**
.clang-format
docs/tailwind_theme/css/styles.css
docs/tailwind_theme/js/
docs/tailwind_theme/js/*
docs/tailwind_theme/js/**
.devcontainer/**
**/.git
**/.svn
**/.hg
**/node_modules
**/develop_env
bazel-*/
.trunk/
.trunk/**