vendors/**
Debug/**
.clang-format
.devcontainer/**
**/.git
**/.svn
**/.hg
**/node_modules
**/develop_env
.trunk/
.trunk/**
**/node_modules
**/develop_env
bazel-*/
**/tailwind_theme/css/
tailwind_theme/css/
components/blog/tailwind_theme/css/
components/blog/tailwind_theme/css/**
**/dist/
**/dist/**
**/build/
**/build/**
**/Debug/**
**/Release/**